<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Angular Admin Dashboard
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://cdn2.vectorstock.com/i/1000x1000/20/76/man-avatar-profile-vector-21372076.jpg"
    />

    <h4 class="name">John Smith</h4>
    <p class="designation">Senior Administrator</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/gallery">
      <mat-icon>perm_media</mat-icon>
      <span>Gallery</span>
    </button>
    <button mat-button class="menu-button" routerLink="/todos">
      <mat-icon>work</mat-icon>
      <span>Todos</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/logout">
      <mat-icon>account_circle</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
