/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.mat-mdc-snack-bar-container.error  {
  --mdc-snackbar-container-color: #b40303 !important;
    color: white;
  }

  .mat-mdc-snack-bar-container.success{
  --mdc-snackbar-container-color: rgb(3, 102, 3) !important;
    color: white;
  }
